.sideBar {
  grid-area: s;
  display: flex;
  justify-content: right;
}

.sideBarContent {
  background-color: #111828;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  width: 60%;
}

.pagesLinks {
  list-style: none;
}