.profileInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profilePhoto img{
  margin: 15px;
  border-radius: 10px;
  width: 80%;
}
.profilePhoto .userProfileStatus {
  display: block;
  margin-left: 15px;
}

.personalInfo {}

.contacts {}
