.loginFormContainer {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormContainer input,
label {
  margin: 10px;
  display: block;
}

.loginFormContainer input {
  background-color: #ebedff;
}

.loginFormContainer .email label,
.loginFormContainer .password label {
  font-size: 18px;
}

.loginFormContainer .email input,
.loginFormContainer .password input,
button {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.loginFormContainer .email,
.password,
.submit {
  margin: 20px;
}
.loginFormContainer .rememberMe {
  margin: 20px;
}

.loginFormContainer .rememberMe input,
.loginFormContainer .rememberMe label {
  display: inline;
}

.loginFormContainer .submit {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.loginFormContainer .submit button {
  width: 150px;
  background-color: #a7154a;
}
.loginFormContainer .submit button:hover {
  width: 150px;
  background-color: #771036;
}
.loginFormContainer .submit button:disabled {
  width: 150px;
  background-color: #50494c;
}

.loginFormContainer .fieldError {
  color: red;
  margin-left: 20px;
}

.loginFormContainer .formErrorContainer {
  display: flex;
  justify-content: center;
}

.loginFormContainer .formErrorContainer .formError {
  color: red;
  border: 2px red solid;
  padding: 10px;
  width: 280px;
  border-radius: 5px;
  text-align: center;
}

.loginFormContainer .captcha {
  display: grid;
  justify-content: center;
}

.loginFormContainer .captcha .captchaImgContainer {
  display: grid;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  justify-self: center;
  padding: 5px;
}

.loginFormContainer .captcha img {
  justify-self: center;
}
.loginFormContainer .captcha input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}
