.header {
  grid-area: h;
  background-color: #111828;
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  height: 80%;
}

.log {
  width: 70px;
  background-color: #2898b1;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.log a{
  text-decoration: none;
  font-weight: bold;
}
