.header {
  grid-area: h;
  background-color: rgb(35, 35, 41);
  display: flex;
  justify-content: center;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo {
  height: 80%;
}

.login a{
  background-color: rgb(43, 158, 184);
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
  text-decoration: none;
}
